@page
@{
    ViewData["Title"] = "Home";
}
<a href="/">Home</a> |
<a href="/checkout">Checkout</a>
<hr />
<h1>KNET integration in .net core</h1>
<p>This is an example of using KNET RAW API to create a KNET payment URL.</p>